<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{car.name}}</title>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        
        
    </head>
    <body>
        <div class="container-fluid" style="background-color:darkslategray">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top top-0">
                    <a class="navbar-brand" href="#" style="font-size:22px">CARZONE</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#"></a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            See it all
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/pages/premium/allcars">All cars</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/pages/premium/upcomingcars">Upcoming cars</a>
                          </div>
                        </li>&nbsp;&nbsp;
                        
                      </ul>
                      <form class="form-inline my-2 my-lg-0">
                        <a href="/user/signin" class="btn btn-outline-success my-2 my-sm-0">Login</a>&nbsp;
                                <a href="/user/signup" class="btn btn-outline-success my-2 my-sm-0">Sign up</a>
                        
                      </form>
                    </div>
            </nav>
    </div>
    <nav id="navbar-example2" class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">{{car.manufacturer}}</a>
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link" href="#fat">Overview</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#mdo">Specifications</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Images</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#one">Interior</a>
                  <a class="dropdown-item" href="#two">Exterior</a>
                  <div role="separator" class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#three">Other</a>
                </div>
              </li>
            </ul>
          </nav>
          <div class="container-fluid">
              <div class="row">
                  
                  <div class="col" style="background-color:darkslategray"></div>
                  <div class="col-11">
                        <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
                                <h4 id="fat">{{car.manufacturer}} {{car.name}}</h4>
                                
                                <p>
                                    <div class="jumbotron">
                                        <h1 class="display-4">
                                            <div class="card bg-dark text-darkslategrey" id="imaa">
                                                
                                                <img class="card-img" src={{car.mainimg}} alt="Card image">
                                                <div class="card-img-overlay">
                                                  <h5 class="card-title">{{car.colorname1}}</h5>
                                                  
                                                </div>
                                              </div>
                                        </h1>
                                         
                                        <p class="lead">Launch date- {{car.ldate}}<br/>
                                          {{car.e1}}</p>
                                        <hr class="my-4">
                                        <p>{{car.e2}}</p>
                                        <p class="lead">
                                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#colap1" aria-expanded="false" aria-controls="collapseExample">
                                              Description
                                              </button>
                                              
                                            </p>
                                            <div class="collapse" id="colap1">
                                              <div class="card card-body">
                                                {{car.description1}}{{car.description2}}{{car.description3}}{{car.description4}}
                                                   </div>
                                            </div> <br/>
                                            <p class="lead">
                                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#colap2" aria-expanded="false" aria-controls="collapseExample">
                                                Manufacturer
                                              </button>
                                              
                                            </p>
                                            <div class="collapse" id="colap2">
                                              
                                                  <img src={{car.manimg}} height="100%">
                                            
                                            </div>                                           
                                        </p>
                                      </div>
                                      
                                
                                <h4 id="mdo">Specifications</h4>
                                
                                    <div class="container">
                                        <div class="col"></div>
                                        <div class="col-5">
                                            <table class="table table-hover table-dark">
                                            <thead style="color:yellow">
                                                <tr>
                                                <th scope="col">Property</th>
                                                <th scope="col">Value</th>
                                                <th scope="col">Units</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                <td>Top speed</td>
                                                <td>{{car.topspeed}}</td>
                                                <td>kph</td>
                                                </tr>
                                                <tr>
                                                <td>Time for 0-100 kph</td>
                                                <td>{{car.zerotohund}}</td>
                                                <td>seconds</td>
                                                </tr>
                                                <tr>
                                                <td>Power</td>
                                                <td>{{car.power}}</td>
                                                <td>bhp</td>
                                                </tr>
                                                <tr>
                                                <td>Power to weight ratio</td>
                                                <td>{{car.powtowt}}</td>
                                                <td>bhp/tonne</td>
                                                </tr>
                                                <tr>
                                                <td>Displacement</td>
                                                <td>{{car.displacement}}</td>
                                                <td>litres</td>
                                                </tr>
                                                <tr>
                                                <td>Weight</td>
                                                <td>{{car.weight}}</td>
                                                <td>kg</td>
                                                </tr>
                                                <tr>
                                                <td>Price</td>
                                                <td>{{car.price}}</td>
                                                <td>rupees</td>
                                                </tr>
                                                <tr>
                                                <td>Seating capacity</td>
                                                <td>{{car.scapacity}}</td>
                                                <td>persons</td>
                                                </tr>
                                                
                                            </tbody>
                                            </table>
                                        </div>
                                        <div class="col"></div>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col"></div>
                                            <div class="col-12">
                                                <p>
                                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                        <li class="nav-item">Colours:</li>&nbsp;&nbsp;&nbsp;
                                                    <li class="nav-item">
                                                        <a class="btn btn-light" id="pills-ha" data-toggle="pill" style="border-radius:50%;background-color:{{car.color1}}" href="#pills-a" role="tab" aria-controls="pills-home" aria-selected="true">&nbsp;&nbsp;&nbsp;</a>
                                                    </li>&nbsp;
                                                    <li class="nav-item">
                                                        <a class="btn btn-light" id="pills-hb" data-toggle="pill" style="border-radius:50%;background-color:{{car.color2}}" href="#pills-b" role="tab" aria-controls="pills-contact" aria-selected="false">&nbsp;&nbsp;&nbsp;</a>
                                                    </li>&nbsp;
                                                    <li class="nav-item">
                                                        <a class="btn btn-light" id="pills-hc" data-toggle="pill" style="border-radius:50%;background-color:{{car.color3}}" href="#pills-c" role="tab" aria-controls="pills-contact" aria-selected="false">&nbsp;&nbsp;&nbsp;</a>
                                                    </li>&nbsp;
                                                    <li class="nav-item">
                                                        <a class="btn btn-light" id="pills-hd" data-toggle="pill" style="border-radius:50%;background-color:{{car.color4}}" href="#pills-d" role="tab" aria-controls="pills-contact" aria-selected="false">&nbsp;&nbsp;&nbsp;</a>
                                                    </li>
                                                    </ul>
                                                    <div class="tab-content" id="pills-tabContent">
                                                    <div class="tab-pane fade show active" id="pills-a" role="tabpanel" aria-labelledby="pills-a">
                                                        <div class="row">
                                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6 col-xl-4">
                                                                <img data-toggle="tooltip" data-placement="right" title="{{car.colorname1}}" src={{car.colorimg1}} height="160px" width="380px" class="rounded" alt="...">
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" id="pills-b" role="tabpanel" aria-labelledby="pills-b">
                                                        <div class="row">
                                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6 col-xl-4">
                                                                <img data-toggle="tooltip" data-placement="right" title="{{car.colorname2}}" src={{car.colorimg2}} height="160px" width="380px" class="rounded" alt="...">
                                                            </div>
                                                            
                                                        </div>
                                                        </div>
                                                    <div class="tab-pane fade" id="pills-c" role="tabpanel" aria-labelledby="pills-c">
                                                        <div class="row">
                                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6 col-xl-4">
                                                                <img data-toggle="tooltip" data-placement="right" title="{{car.colorname3}}" src={{car.colorimg3}} height="160px" width="380px" class="rounded" alt="...">
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" id="pills-d" role="tabpanel" aria-labelledby="pills-d">
                                                        <div class="row">
                                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6 col-xl-4">
                                                                <img data-toggle="tooltip" data-placement="right" title="{{car.colorname4}}" src={{car.colorimg4}} height="160px" width="380px" class="rounded" alt="...">
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                    </div>
                                </p><br/><br/>
                                            </div>
                                            <div class="col"></div>
                                        </div>
                                    </div>
                                        
                                
                                <h3>Images</h3><br/>
                                <h4 id="one">Interior</h4>
                                <p>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6 col-xl-4">
                                                <img src={{car.interior1}} height="260px" width="380px" class="rounded" alt="...">
                                            </div>
                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6 col-xl-4">
                                                <img src={{car.interior2}}  height="260px" width="380px" class="rounded" alt="...">
                                            </div>
                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6 col-xl-4">
                                                <img src={{car.interior3}}  height="260px" width="380px" class="rounded" alt="...">
                                            </div>
                                        </div><br/>
                                        <div class="row">
                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6 col-xl-4">
                                                <img src={{car.interior4}} height="260px" width="380px" class="rounded" alt="...">
                                            </div>
                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6 col-xl-4">
                                                <img src={{car.interior5}}  height="260px" width="380px" class="rounded" alt="...">
                                            </div>
                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6 col-xl-4">
                                                <img src={{car.interior6}}  height="260px" width="380px" class="rounded" alt="...">
                                            </div>
                                        </div>
                                    </div>
                                </p>
                                <h4 id="two">Exterior</h4>
                                <p>
                                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                                    <li class="nav-item">
                                                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Side</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Back</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Front</a>
                                                    </li>
                                                    </ul>
                                                    <div class="tab-content" id="pills-tabContent">
                                                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                                        <div class="row">
                                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6 col-xl-4">
                                                                <img src={{car.exteriors1}} height="260px" width="380px" class="rounded" alt="...">
                                                            </div>
                                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6 col-xl-4">
                                                                <img src={{car.exteriors2}}  height="260px" width="380px" class="rounded" alt="...">
                                                            </div>
                                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6 col-xl-4">
                                                                <img src={{car.exteriors3}}  height="260px" width="380px" class="rounded" alt="...">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                                        <div class="row">
                                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6 col-xl-4">
                                                                <img src={{car.exteriorb1}} height="260px" width="380px" class="rounded" alt="...">
                                                            </div>
                                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6 col-xl-4">
                                                                <img src={{car.exteriorb2}}  height="260px" width="380px" class="rounded" alt="...">
                                                            </div>
                                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6 col-xl-4">
                                                                <img src={{car.exteriorb3}}  height="260px" width="380px" class="rounded" alt="...">
                                                            </div>
                                                        </div>
                                                        </div>
                                                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                                                        <div class="row">
                                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6 col-xl-4">
                                                                <img src={{car.exteriorf1}} height="260px" width="380px" class="rounded" alt="...">
                                                            </div>
                                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6 col-xl-4">
                                                                <img src={{car.exteriorf2}}  height="260px" width="380px" class="rounded" alt="...">
                                                            </div>
                                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6 col-xl-4">
                                                                <img src={{car.exteriorf3}}  height="260px" width="380px" class="rounded" alt="...">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </div>
                                </p><br/><br/>
                                <h4 id="three">Other Details</h4>
                                <p>
                                    <strong>{{car.odh1}}</strong><br/>
                                    {{car.odd11}}{{car.odd12}}{{car.odd13}}{{car.odd14}}
                                    <br/><br/>
                                    <strong>{{car.odh2}}</strong><br/>
                                    {{car.odd21}}{{car.odd22}}{{car.odd23}}{{car.odd24}}
                                    <br/><br/>
                                    <strong>{{car.odh3}}</strong><br/>
                                    {{car.odd31}}{{car.odd32}}{{car.odd33}}{{car.odd34}}
                                    <br/><br/>
                                    <strong>{{car.odh4}}</strong><br/>
                                       {{car.odd41}}{{car.odd42}}{{car.odd43}}{{car.odd44}} 
                                </p>
                                <br/><br/>
                                <article>(Source- wikipedia)</article><br/>
                              </div>
                              
                  </div>
                  <div class="col"  style="background-color:darkslategray"></div>
                  
              </div>
          
          
    
    





        
        {{!-- <script src="jquery-3.2.1.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="js\bootstrap.js"></script>
        <script>
          let img=document.getElementById('imaa')
          let c1=document.getElementById('c1')
          let c2=document.getElementById('c2')
          let c3=document.getElementById('c3')
          let c4=document.getElementById('c4')
          c1.onclick=function(){
            img.innerHTML=`<img class="card-img" src="images\avorio.png" alt="Card image"><div class="card-img-overlay"><h5 class="card-title">Avorio</h5></div>`
          }
        </script> --}}
        <script>
            $(function () {
                $('[data-toggle="popover"]').popover()
                })
                $(function () {
                $('[data-toggle="tooltip"]').tooltip()
                })
        </script>
    </body>
</html>